@charset "UTF-8";

@font-face {
    font-family: 'SEBANG_Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{margin: 0px; padding: 0px; box-sizing: border-box; list-style-type: none; font-family: 'SEBANG_Gothic';}


a{color:black;text-decoration: none;}


.logoImg{
	width: 200px;
}

/*x버튼 누르면 전체 사라짐*/
.alarmBox{
	position:stacky;
	bottom: 200px;
	right:0;
	width: 200px;
	height: 200px;
	border: solid 1px red;
}
.topBox{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.alarm{
	width: 200px; height: 200px;
}