@charset "UTF-8";

*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'HakgyoansimWoojuR';} 
a{text-decoration: none;}
li{ list-style-type: none; }

@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.serchBox{
	width: 350px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	align-items: center;
    text-align: right;
}

.serchInput{
	width: 100%;
	border-radius: 5px;
	padding: 0px 10px;
	height: 40px;
	font-size: 15px;
	margin-top: 10px;
	border: none;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	outline: none;
	font-weight: bold;
}
.wrap {
	width: 350px;
	margin: 0 auto;
}
.serchBox h4{
	font-size: 15px;
	
}

.contentbox {
	width: 100%;
	border: 1px solid #4B4453;
	border-radius: 15px;
	padding-bottom: 10px;
	margin: 20px 0;
}

.img_area {
	width: 334px;
	/*height: 334px;*/
	overflow: hidden;
	margin: 0 auto;
	border-radius: 10px;
	margin-top : 8px;
}

.img_area img {
	object-fit:cover;
	width: 100%;
	max-height: 300px;
}

.content {
	margin-top: 20px;
}
.time {
	font-size: 12px;
	color: #4B4453;
	padding-left: 15px;
	font-weight: bold;
}

.infotext{
	font-size: 14px;
	color: #4B4453;
	padding: 0 15px;
	margin: 10px 0;
	height: 80px;
	font-weight: bold;
}
.btn_update , .btn_delete ,.btn_coment ,.btn_download {
	border: none;
	background-color: #FF8066;
	width: 50px;
	height: 25px;
	padding: 2px 5px;
	border-radius: 10px;
	font-size: 12px;
	color: white;
	line-height : -4px;	
	font-weight: bold;
}
.btn_update {
	margin-left: 15px;
}

.haters{
	display: inline-block;
	margin-left: 80px;
    display: inline-block;
	
}

.haters img{
	margin-top: 10px;
	
}

.haters{
    align-items: center;
}

.haters h4{
	display: inline-block;
	font-size : 20px;
	
}

/* -------------------------------------------------------- */
/* 전체 헤더 스타일 */
  .header {
    background-color: #FF8066;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    margin: 0 auto;
    border-radius: 10px;
  }

  /* "SNS" 링크 스타일 */
  .header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }

  /* "글쓰기" 버튼 스타일 */
  .header button {
    background-color: #fff;
    color: black;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 10px;
  }

  /* "글쓰기" 버튼 호버(마우스 오버) 효과 */
  .header button:hover {
    background-color: #ffc9bd;
    color: #fff;
  }


/* 댓글 CSS */
.reply{
	width: 100%;
	padding: 15px;
	margin: 20px 0;
	border-top: 1px solid #e8e8e8;

}

.exid{
	margin-top : 10px;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.reply_bccontent, .btn_cdelete , .reply_bcdate{
	margin-bottom: 10px;
}

.btn_cdelete {
	border: none;
	background-color: #ffc9bd;
	width: 20px;
	height: 20px;
	font-weight: bold;
	border-radius: 3px;
	text-align: center;
}

