@charset "UTF-8";
*div{border: 1px solid red;}
.allBox{display: flex; flex-direction: column;  }

/*제목*/
.atitle{
   font-size:30px;
   margin:60px 0px 30px 0px;
   text-align: center;
   font-size:40px;}

/*이미지, 경매상황*/
.middle{display:flex; flex-direction: row; justify-content: space-between; }
/*메인이미지*/
.mainCarImg{display: flex; justify-content: center;align-items: center; max-width: 500px;}
.mainCarImg img{ max-width: 100%; max-height: 100%;}
/*상세내역출력이미지들*/
.carImgBox{display:block}
.carImg{display:flex; justify-content: center;align-items: center; max-width: 1000px;}
.carImg img{ max-width: 100%; max-height: 100%;}

/*경매상황*/
.rightBox{display: flex; flex-direction: column; width:600px;}

/*경매가*/
.auctionPayBox{
   display: flex; flex-direction: row; justify-content: space-between; 
   background-color:#F3F9FF; padding:10px 0px 0px 20px;
}
.auction li{display: inline; margin-right: 30px; margin-bottom:15px;}

.b{
    border: none ;
    background-color:#191D88;
    color:#DAA25E;
    font-size:15px;
    margin:0px; padding:10px;
}

/*현재가*/
.nowPayBox{display: flex; flex-direction: row; justify-content: space-between; font-size:30px; font-weight:lighter; }
.startPayBox{display: flex; flex-direction: row; justify-content: space-between; font-size:20px;font-weight:lighter;}
.auction{display:flex;flex-direction: row; justify-content: space-between;}

/*종료시간(타이머)*/
.time{display:flex; flex-direction: row; justify-content: space-between; font-size:40px;margin:10px}

/*스크랩,입찰버튼구역*/
.buttonBox{display: flex; flex-direction: row; justify-content: flex-end;}
.buttonBox button{margin-right:20px; border: none; width:100px; height: 50px; border-radius:20px;}


/*상세페이지 출력 시 공백을 만들어 줄 상자*/
.gap{width: 100%; height: 50px;}

/*글내용*/
.acontent{width: 100%; height:50px}

/*푸터랑 본문 간격 띄우기*/
.box2{width: 100%; height: 200px;}